

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30100">
        <setting type="lsep" label="30138"/>
        <setting id="loginType" type="labelenum" label="30160" default="TFC.tv" values="TFC.tv|Facebook" visible="true"/>
        <setting id="emailAddress" type="text" label="30139" enable="eq(-1,TFC.tv)" default=""/>
        <setting id="password" type="text" label="30140" option="hidden" enable="eq(-2,TFC.tv) + !eq(-1,)" default=""/>
        <setting id="loginWithSSO" type="bool" label="30159" default="false" visible="false"/>
        <setting id="loginRetries" type="labelenum" label="30141" default="1" values="1|2|3" visible="false"/>
        <setting id="accountJSON" type="text" label="30142" default="" visible="false"/>
        <setting type="sep"/>
        <setting type="lsep" label="30102"/>
        <setting id="displayWebsiteSections" type="bool" label="30107" default="true" visible="true"/>
        <setting id="displayMyList" type="bool" label="30130" default="true" visible="true"/>
        <setting id="displayMyAccountMenu" type="bool" label="30114" default="true" visible="true"/>
        <setting type="sep" />
        <setting id="itemsPerPage" type="labelenum" label="30105" default="16" values="1|8|16|32|64|128" visible="true"/>
        <setting id="useShowLogo" type="bool" label="30104" default="false" visible="false"/>
        <setting type="sep"/>
        <setting type="lsep" label="30110"/>
        <setting id="parentalAdvisoryCheck" type="bool" label="30117" default="true" visible="true"/>
        <setting id="parentalControl" type="bool" label="30136" default="false" visible="true"/>
        <setting id="parentalCode" type="number" label="30137" option="hidden" enable="eq(-1,true)" default="1234"/>
        <setting type="sep"/>
        <setting type="lsep" label="30150"/>
        <setting id="exportToLibrary" type="bool" label="30151" default="false" visible="true"/>
        <setting id="exportLibraryPath" type="folder" label="30157" default="" source="" option="writeable" enable="eq(-1,true)" visible="true"/>
        <setting id="exportLastNbEpisodes" type="labelenum" label="30154" default="8" values="1|8|16|32|64|128" enable="eq(-2,true)" visible="true"/>
        <setting id="libraryAutoUpdate" type="bool" label="30152" default="false" enable="eq(-3,true)" visible="true"/>
        <setting id="librayCheckSchedule" type="number" label="30153" default="60" enable="eq(-4,true)" visible="true"/>
        <setting type="sep" visible="false"/>
        <setting type="lsep" label="30149" visible="false"/>
        <setting id="addonNewInstall" type="bool" label="30126" default="true" visible="false"/>
        <setting id="showWelcomeMessage" type="bool" label="30145" default="true" visible="false"/>
        <setting id="showEnterCredentials" type="bool" label="30146" default="true" visible="false"/>
        <setting id="showPersonalize" type="bool" label="30147" default="true" visible="false"/>
        <setting id="showUpdateCatalog" type="bool" label="30148" default="true" visible="false"/>
        <setting type="sep" visible="false"/>
        <setting type="lsep" label="30199" visible="false"/>
        <setting id="lastVersion" type="text" label="30106" default="" visible="false"/>
        <setting id="UID" type="text" label="30127" default="" visible="false"/>
        <setting id="UIDSignature" type="text" label="30128" default="" visible="false"/>
        <setting id="signatureTimestamp" type="text" label="30129" default="" visible="false"/>
        <setting id="defaultBG" type="text" label="30131" default="https://img.tfc.tv/assets/img/bg2.jpg" visible="false"/>
        <setting id="appearance" type="labelenum" label="30155" default="DEFAULT" values="-|DEFAULT" visible="false"/>
        <setting id="databaseImportURL" type="text" label="30156" default="https://repo.cmik.me/tfc.tv/databases/" visible="false"/>
        <setting id="FBAccessToken" type="text" label="30161" default="" visible="false"/>
        <setting id="catalogBasePath" type="text" label="30165" default="" visible="false"/>
        <setting id="basePath" type="text" label="30166" default="" visible="false"/>
        <setting id="iwanttfc_settings" type="text" label="30167" default="" visible="false"/>
        <setting id="iwanttfc_settings_timestamp" type="text" label="30168" default="" visible="false"/>
        <setting id="iWantRefreshToken" type="text" label="30169" default="" visible="false"/>
        <setting id="iWantUserAuthentication" type="text" label="350170" default="" visible="false"/>
        <setting id="loginSession" type="text" label="30171" default="" visible="false"/>
    </category>
    <category label="30101">
        <setting type="lsep" label="30103"/>
        <setting id="requestTimeOut" type="labelenum" label="30113" default="20" values="5|10|20|30|60|120|300" visible="true"/>
        <setting id="cacheActive" type="bool" label="30111" default="true" visible="true"/>
        <setting id="cacheTTL" type="number" label="30158" default="240" enable="eq(-1,true)" visible="true"/>
        <setting id="displayTools" type="bool" label="30112" default="false" visible="true"/>
        <setting type="sep"/>
        <!--setting type="lsep" label="30121"/>
        <setting id="chooseBestStream" type="bool" label="30115" default="true" visible="false"/>
        <setting id="streamServerModification" type="bool" label="30122" default="false" visible="false"/>
        <setting id="streamServer" type="text" label="30123" default="https://o4-vh." enable="eq(-1,true)" visible="false"/>
        <setting type="sep"/-->
        <setting type="lsep" label="30132"/>
        <setting id="useProxy" type="bool" label="30133" default="true" visible="false"/>
        <setting id="proxyHost" type="text" label="30134" default="127.0.0.1" enable="eq(-1,true)" visible="true"/>
        <setting id="proxyPort" type="number" label="30135" default="6531" enable="eq(-2,true)" visible="true"/>
        <setting id="proxyStreamingUrl" label="30143" type="text" default="http://%s:%s/?url=%s%s" enable="eq(-3,true)" visible="true"/>
        <setting id="proxyCheckUrl" label="30144" type="text" default="http://%s:%s/healthcheck" enable="eq(-4,true)" visible="true"/>
        <setting type="sep"/>
        <setting type="lsep" label="30162"/>
        <setting id="FBAppID" type="text" label="30163" default="" visible="true"/>
        <setting id="FBClientToken" type="text" label="30164" default="" visible="true"/>
        <setting type="sep"/>
        <setting type="lsep" label="30124"/>
        <setting id="generateNewFingerprintID" type="bool" label="30125" default="false" visible="true"/>
        <setting id="fingerprintID" type="text" label="30124" default="" visible="false"/>
        <setting id="previousFingerprintID" type="text" label="30124" default="" visible="false"/>
        <setting type="sep"/>
        <setting type="lsep" label="30118"/>
        <setting id="debug" type="bool" label="30119" default="false" visible="true"/>
        <setting id="debugLevel" type="labelenum" label="30120" default="ERROR" values="ERROR|NOTICE|INFO|DEBUG" enable="eq(-1,true)" visible="true"/>
    </category>
</settings>
